site_name: kdoctor
docs_dir: docs
site_dir: site
repo_name: kdoctor-io/kdoctor
repo_url: https://github.com/kdoctor-io/kdoctor
# remote branch for mkdocs gh-deploy
remote_branch: github_pages
theme:
  name: material
  # The maximum depth of the navigation tree in the sidebar
  navigation_depth: 2
  palette:
    scheme: default
    primary: blue
    language: zh
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.indexes
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - search.highlight
    - search.suggest
    - search.share

plugins:
  - tags
  - search

markdown_extensions:
  - meta
  - toc
  - tables
  - fenced_code
  - tables
  - attr_list

nav:
  - README.md
  - Installation:
      - Installation: usage/install-zh_CN.md
  - Usage:
      - AppHttpHealthy: usage/apphttphealthy.md
      - NetReach: usage/netreach.md
      - NetDns: usage/netdns.md
  - Concepts:
      - Architecture: reference/arch.md
  - Reference:
      - AppHttpHealthy: reference/apphttphealthy-zh_CN.md
      - NetReach: reference/netreach-zh_CN.md
      - NetDns: reference/netdns-zh_CN.md
      - Report: reference/report.md
      - Performance: usage/performance.md
  - Development:
      - Release workflow: develop/release.md
      - Roadmap: develop/roadmap.md
